- options ||= {}
- reply = nil
- reply = Formgen::Reply.find_by(form: form, user: current_user) if options[:remember].presence

- form.questions.each do |question|
  = render 'formgen/questions/question', question: question, options: options, reply: reply
