<!DOCTYPE html>
<html>
<head>
  <title>Formgen</title>
  <%= stylesheet_link_tag    "formgen/application", media: "all" %>
  <%= javascript_include_tag "formgen/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
